body {
  background-color: #f6f6f6;
  overflow-y: scroll
}

#main {
  background-color: white;
}

#welcome {
  background-color: #f6f6f6;
}

.welcome-text{
  text-align:center;
}

.welcome-list {
  float: left;
}

.green {
  background-color: #f5fffa; 
  border: 1px solid  #cef2e0;
}

.green h2 {
  background-color:  #cef2e0;
  border: 2px black solid;
}